.header {
  background-color: crimson;

  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

#add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#textInput {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.book-container {
  background-color: bisque;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.book-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: beige;
  border: 3px solid brown;
  padding: 1rem;
  box-shadow: 3px 3px black;
}

.footer {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
}

#bookInfoForm {
  background-color: aliceblue;
}

.greenRead::after {
  content: "Read";
  color: green;
}

.redRead::after {
  content: "Unread";
  color: red;
}

#deleteButton::after {
  content: "Delete Book";
  padding: 1rem;
}
